# Bases de datos generadas
data/*.db

# Dataset pesado de Kaggle
data/*.csv

# Variables de entorno
docker/.env
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
